<div class="wrapper">
    <app-sidebar></app-sidebar>

<div class="content-wrapper">
<div class="container">
 
    <div class="panel panel-default">
     <div class="panel-heading"><span> Update User</span></div>
        <div class="panel-body">
            <div class="form">
           
                <label>Name</label>
                <input type="text" class="form-control"  placeholder="name"  name="name" [(ngModel)]="curentclient.name">
                
                <label>Adresse</label>
                <input type="text" class="form-control"  placeholder="adresse"  name="adresse" [(ngModel)]="curentclient.adresse">
                 
                <label>E-Mail</label>
                <input type="text" class="form-control"  placeholder="Mail"  name="email" [(ngModel)]="curentclient.email">
             
                <label>Phone</label>
                <input type="text" class="form-control"  placeholder="Phone"  name="phonenumber" [(ngModel)]="curentclient.phonenumber">



            <button type="submit" class="btn btn-primary" (click)="Updateclient()">Update</button>
    
        </div> 
    </div>
    </div>
  
</div>
</div>
</div>
